* {
  margin: 0;
  padding: 0;
}

body {
  display: block;
  margin: 0 auto;
  margin-top: 140px;
  width: 700px;
  background-image: url("images/background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

#passturn {
    position: relative;
    top: 18rem;
    right: 12rem;
    height: 50px;
    width: 150px;
}

#playerturn {
    display: inline;
    /* display: none; */
    position: relative;
    bottom: 5rem;
    left: 9rem;
    width: 300px;
    z-index: 1;
    font-size: 50px;
    background: none;
}

#start-game {
    /* display: block; */
    display: none;
    margin: 0 auto;
    width: 350px;
    height: 200px;
    background-color: rgb(197, 199, 206);
    font-size: 25px;
}

#countdown {
    text-align: center;
    /* display: block; */
    display: none;
    margin: 0 auto;
    font-size: 250px;
    opacity: 100%;
    transition: 1s;
}

section {
  transform: scale(115%);
  /* display: none; */
  display: flex;
  height: 630px;
  background: url("images/board.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

header {
  display: flex;
  height: 630px;
}

header .container {
  position: relative;
  right: 8rem;
  top: 30px;
  width: 40px;
  max-height: 220px;
  background: grey;
  margin-left: 5px;
  margin-right: 4px;
}

#top-border {
    position: relative;
    right: 7.9rem;
    width: 8px;
    height: 315px;
    background-color: black;
}

#white-dropzone{
    position: fixed;
    left: 47rem;
    top: 0px;
    width: 40px;
    height: 220px;
    background-color: black;
    border: 10px solid white;
    border-radius: 10px;
}

footer {
  display: flex;
  height: 630px;
}

footer .container {
  position: relative;
  right: 63.3rem;
  top: 370px;
  width: 40px;
  max-height: 230px;
  background: grey;
  margin-left: 5px;
  margin-right: 4px;
  transform: rotate(180deg);
}

#bottom-border {
    position: relative;
    top: 315px;
    right: 63.2rem;
    width: 8px;
    height: 315px;
    background-color: white;
}

#black-dropzone {
    position: fixed;
    top: 24.5rem;
    right: -8rem;
    width: 40px;
    height: 220px;
    background-color: white;
    border: 10px solid black;
    border-radius: 10px;
}

.draggable[name="white"] {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  cursor: move;
  margin-bottom: 5px;
}

.draggable[name="black"] {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: black;
    cursor: move;
    margin-bottom: 5px;
  }


.draggable.dragging, .draggable:hover {
  transform: scale(110%);
  /* background-color: white; */
}

.dragstop[name="white"] {
    width: 40px;
    height: 10px;
    border-radius: 2px 2px 2px 2px;
    /* pointer-events: none; */
    background-color: white;
    margin-bottom: 5px;
}

.dragstop[name="black"] {
    width: 40px;
    height: 10px;
    border-radius: 2px 2px 2px 2px;
    /* pointer-events: none; */
    background-color: black;
    margin-bottom: 5px;
}

.dice {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 16.5rem;
    right: 5.5rem;
    height: 50px;
    width: 50px;
    margin-left: 1rem;
    background-color: whitesmoke;
    font-size: 25px;
}

#roll-dice-button{
    position: relative;
    top: 20.5rem;
    right: 12.1rem;
    width: 100px;
    height: 50px;
}

/* .board-top {
    display: flex;
    width: 1700px;
    height: 500px;
    background-color: black;
    border-top: 3rem solid red;
    border-left: 3rem solid red;
    border-right: 3rem solid red;
}

.board-top .arrow-Down {
    height: 0;
    width: 0;
    margin-left: 5px;
    margin-right: 5px;
    border-left: 65px solid transparent;
    border-right: 65px solid transparent;
    border-top: 450px solid red;
}

#seperator{
    width: 3rem;
    height: 500px;
    background-color: red;
}

.board-bottom {
    display: flex;
    width: 1700px;
    height: 500px;
    background-color: black;
    border-bottom: 3rem solid red;
    border-left: 3rem solid red;
    border-right: 3rem solid red;
}

.board-bottom .arrow-Up {
    height: 0;
    width: 0;
    margin-top: 3.1rem;
    margin-left: 5px;
    margin-right: 5px;
    border-left: 65px solid transparent;
    border-right: 65px solid transparent;
    border-bottom: 450px solid blue;
} */
